.contentStyle {
    margin: 0;
    height:600px;
    line-height:160px;
    text-align:center;
}
.contentStyle .slick-list, 
.contentStyle .slick-track, 
.contentStyle .slick-slide, 
.contentStyle .slick-slide>div, 
.sliderInner, 
.sliderImg {
    height: 100%;
}
.sliderImg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contentStyle h4.ant-typography {
    font-size: var(--fs-xxl);
    color: var(--white);
}
.fsNormal{
    font-size:var(--fs-normal) !important;
    color: var(--white);
}
.primaryBtn {
    border: solid 2px #fff;
    background: transparent;
    padding: 1.5rem 1rem;
    line-height: 0px;
    font-size: var(--fs-normal);
    text-transform:var(--textUpper);
}