.selectColor span.ant-radio-inner {
    background-color: transparent !important;
    border-color:transparent;
    width: 20px;
    height: 20px;
}
.selectColor span.ant-radio-inner:after {
    transform: scale(0.7) !important;
    opacity: 1 !important;
    width: 20px;
    height: 20px;
    margin-block-start: -10px;
    margin-inline-start: -10px;
}
.selectColor .ant-radio-wrapper-checked.color1 span.ant-radio-inner {
    border-color: #a78bfa !important;    
}
.selectColor .color1 span.ant-radio-inner:after {
    background: #a78bfa;
}
.selectColor .ant-radio-wrapper-checked.color2 span.ant-radio-inner {
    border-color: #facc15 !important;    
}
.selectColor .color2 span.ant-radio-inner:after {
    background: #facc15;
}
.selectColor .ant-radio-wrapper-checked.color3 span.ant-radio-inner {
    border-color: #fb923c !important;    
}
.selectColor .color3 span.ant-radio-inner:after {
    background: #fb923c;
}
.selectColor .ant-radio-wrapper-checked.color4 span.ant-radio-inner {
    border-color: #4ade80 !important;    
}
.selectColor .color4 span.ant-radio-inner:after {
    background: #4ade80;
}
.hoverIcons {
    position: absolute;
    display: flex;
    transition: all 0.3s ease;
    bottom: 0;
    right:2%;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
}

.productThumnail {
    position: relative;
}

.hoverIcons span.anticon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    visibility: hidden;
    opacity: 0;
}

.productGrid:hover .hoverIcons  span.anticon , .productGrid:hover .hoverIcons{
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease;
}
.productGrid:hover .hoverIcons{
    bottom: 35%;
    transition: all 0.3s ease;
}
.productGrid {
    margin-top: 1.5rem;
}

.productDetail .price {
    margin-bottom: 0;
}

.productDetail .selectColor {
    margin-top: 0.4rem;
}
.ant-tabs-centered .ant-tabs-nav:before {
    display: none;
}
.collectionSlider .slick-slide .productGrid {
    box-shadow: #b7acac5c -1px 1px 7px 0px;
}

.collectionSlider .slick-slide .productGrid .productThumnail img {
    height: 400px;
    object-position: center center;
    object-fit: cover;
    background-blend-mode: multiply;
}

.collectionSlider .slick-slide> div {
    margin: 10px 10px;
}

.collectionSlider .slick-slide .productGrid .productDetail {
    padding: 0rem 1rem 1rem 1rem;
}