@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

body.home.page-templates,
p {
  font-family: 'PT Sans', sans-serif !important;
  font-weight: normal !important;
  font-size: 16px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Sans', sans-serif !important;
  font-weight: 700 !important;
}

:root {
  --fs-normal: 16px;
  --fs-xs: 20px;
  --fs-sm: 25px;
  --fs-medium: 30px;
  --fs-large: 40px;
  --fs-xl: 50px;
  --fs-xxl: 60px;
  --white: #fff;
  --textUpper: uppercase;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.imgFluid{
  max-width:100%;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

@media (min-width:576px) {
  .container {
    max-width: 540px
  }
}

@media (min-width:768px) {
  .container {
    max-width: 720px
  }
}

@media (min-width:992px) {
  .container {
    max-width: 960px
  }
}

@media (min-width:1200px) {
  .container {
    max-width: 1140px
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}